{% extends 'base.html' %}

{% block content %}
<form method="post" action="{% url 'home' %}"  class="row g-3 form-group">
    {% csrf_token %}
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="text" class="form-control" id="inputEmail4" name="name">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4" name="password">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
    <p>Do't have an account? Create one <a href="/register">Here</p>
</form>
{% endblock %}