{% extends 'base.html' %}

{% block content %}
<form method="post" action="{% url 'register' %}" class="row g-3 form-group">
    {% csrf_token %}
    <div class="row-md-6">
        <label for="inputEmail4" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputEmail4" name="name">
    </div>

    <div class="row-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="email">
    </div>
    <div class="row-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4" name="password">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
    <p>Already have an account? Sign in here <a href="/login">Here</p>
</form>
{% endblock %}